@import "../../../styles/partial/variables.scss";

.toggle {
    
  &-box {
     position: absolute;
     top: 0;
     right: 20px;

     @media(max-width: $tablet_width) {
       top: 30px;
     }
  }
}