@import "../../styles/partial/variables.scss";

.section {
   
    &_padding_top {
       padding-top: 200px;
    }

    &_padding_bottom {
       padding-bottom: 500px;
    }
}

.catalog-container {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    .product-button {
        
        @media(max-width: $mobile_width) {
            order: 4;
        }
    }

    .product__item {

        &::after {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            content: "";
            background: $gold;

            @media(max-width: $mobile_width) {
                display: block;
            }
        }
    }
}

.product {
    
    &-list {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        transition: $transition_all;
    }
    
    &-title_catalog {
        position: relative;
        display: block;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: normal;
        color: $gold;
        text-align: center;

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    &-slider {
        margin-bottom: 20px;
        overflow: hidden;
    }

    &__item {
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 15px;
        flex-basis: calc(33% - 20px);
        text-align: center;
        cursor: pointer;

        @media(max-width: $tablet_width) {
            flex-basis: calc(50% - 20px);
        }

        @media(max-width: $mobile_width) {
            margin-bottom: 20px;
            padding-bottom: 20px;
            flex-basis: 100%;
        }
    }

    &__img {
       background: $gray;
    }

    &__title {
        margin-top: 14px;
        letter-spacing: 0.01em;
    }

    &__price {
        margin-top: 10px;
        color: $gold;

        @media(max-width: $mobile_width) {
            margin-bottom: 10px;
        }
    }
}