@import "../../styles/partial/variables.scss";

.product {
    display: flex;
    width: 200%;
    flex-wrap: nowrap;
    transition: $transition_all;

     @media(max-width: $tablet_width) {
        width: 500%;
    }

    @media(max-width: $mobile_width) {
        width: 1000%;
    }

    &-title {
        position: relative;
        display: inline-block;
        margin-top: 40px;
        margin-bottom: 20px;
        /*margin-left: 50%;*/
        font-size: 24px;
        font-weight: normal;
        color: $gold;
        /*transform: translateX(-50%);*/

        &::before {
            position: absolute;
            content: '';
            top: 50%;
            left: -80%;
            display: block;
            width: 100px;
            height: 1px;
            content: '';
            background: linear-gradient(90deg, rgba(203,161,129,0.1), #cba181, rgba(203,161,129,0.1));
        }

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            right: -80%;
            display: block;
            width: 100px;
            height: 1px;
            content: '';
            background: linear-gradient(90deg, rgba(203,161,129,0.1), #cba181, rgba(203,161,129,0.1));
        }
    }

    &-slider {
        margin-bottom: 20px;
        overflow: hidden;
    }

    &__item {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 15px;
        flex-basis: calc(20% - 20px);
        text-align: center;
        cursor: pointer;

        @media(max-width: $tablet_width) {
           display: flex;
           padding-left: 10px;
           padding-right: 10px;
           flex-direction: column;
        }

        &:hover {
            .product-button {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__img {
       background: $gray;

       @media(max-width: $tablet_width) {
           margin-bottom: 10px;
           order: 0;
       }
    }

    &__title {
        margin-top: 14px;
        letter-spacing: 0.01em;

        @media(max-width: $tablet_width) {
           font-size: 16px;
           order: 2;
        }

    }

    &__price {
        margin-top: 10px;
        color: $gold;

        @media(max-width: $tablet_width) {
           font-size: 16px;
           order: 3;
        }
    }

    &-dots {
        display: flex;
        margin-top: 25px;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;

        &__item {
            width: 10px;
            height: 10px;
            margin-left: 5px;
            margin-right: 5px;
            background: $base;
            vertical-align: middle;
            border-radius: 50%;
            cursor: pointer;
            transition: $transition_all;

            &_active {
                width: 14px;
                height: 14px;
                background: $gold;
            }
        }
    }

    &-button {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-50%);
        transition: $transition_all;
        visibility: hidden;
        opacity: 0;

        @media(max-width: $tablet_width) {
           position: initial;
           visibility: visible;
           opacity: 1;
           order: 1;
           transform: translateY(0);
        }
    }

    &__btn {
        height: 46px;
        margin-top: 0;
        padding-left: 50px;
        background-image: url(/assets/images/cart-gold.svg);
        background-color: rgba($black,0.5);
        background-repeat: no-repeat;
        background-position-y: 10px;
        background-position-x: 20px;
        font-size: 14px;
        font-weight: 500;
        color: $gold;
        border-radius: 2px;
        border: 2px solid $gold;
        transition: $transition_all;

        &:hover {
            background-image: url(/assets/images/cart.svg);
            background-color: $gold;
            background-repeat: no-repeat;
            background-position-y: 10px;
            background-position-x: 20px;
            font-size: 14px;
            font-weight: 500;
            color: $dark;
        }

    }
}

.lightmode {
    
    .product {

        &__btn {


            @media(max-width: $tablet_width) {
                background-color: transparent;

                &:hover {
                    background-image: url(/assets/images/cart.svg);
                    background-color: $gold;
                    background-repeat: no-repeat;
                    background-position-y: 10px;
                    background-position-x: 20px;
                    font-size: 14px;
                    font-weight: 500;
                    color: $dark;
                }
            }    
        }
    }
}

/*.lightmode {
    
    .product-dots__item {
        background: $white;

        &_active {
            background: $gold;
        }
    }
}*/

