/* adaptive */
$big-notebook_width: 1600px;
$bigpc_width: 1301px;
$smallpc_width: 1300px;
$container-min_width: 1401px;
$container_width: 1600px;
$laptop_width: 1199px;
$ipad_width: 1024px;
$tablet_min_width: 992px;
$tablet_width: 991px;
$big-mobile-min_width: 768px;
$big-mobile_width: 767px;
$s_mobile_width: 600px;
$mobile_width: 450px;

/* fonts */
$josefin: JosefinSans;

/* colors */
$base: #e7e0dd;
$gold: #cba181;
$black: #000000;
$white: #ffffff;
$gray: #12100e;
$dark: #0b0a08;
$pink: #e0caca;

/*others*/
$transition_all: all .3s ease-in-out;
