@import "partial/fonts.scss";
@import "partial/variables.scss";
@import "partial/mixins.scss";

html,body,h1,h2,h3 {
    margin: 0;
    padding: 0;
}

body {
    background: $dark;
}

body,div,p,a,span {
    font-family:  $josefin, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: normal;
    color: $base;

    @media(max-width: $big-mobile_width) {
        font-size: 10px;
        line-height: 14px;
    }

    @media(max-width: $container_width) {
        
    }
} 

div {
    box-sizing: border-box;
} 

h1,h2,h3,h4 {
    margin: 0;
}

h1,.h1 {
    margin-bottom: 22px;
    margin-top: 15px;
    font-size: 60px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.01em;
}

h2,.h2 {
    line-height: 1.5;
    color: $gold;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 0.005em;
}

h3,.h3 {
    font-size: 18px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: $gold;
}

h4,.h4 {
    margin: 10px 0;
    color: $gold; 
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0.01em;
    line-height: 1em;   
}

p {
    margin: 0;
}

blockquote, .blockquote {

}

img {
    max-width: 100%;
}

.strong {
    font-size: 40px;
    color: $gold;
    font-style: normal;
    font-weight: 400;
}

.title {
    
}

.text {
    font-style: italic;
}


.white {
    color: $white !important;
}

.black {
    color: $black !important;
}

.section {
    position: relative;
    overflow: hidden;
    
}

.container {
    width: $container_width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: $mobile_width) {
        padding-left: 10px;
        padding-right: 10px;
    }  
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

* {
    outline: none;
    &:focus {
        outline: none;
    }
}

a {
   cursor: pointer;
   text-decoration: none;

   &:focus {
    outline: none;
   }
}

button {
   cursor: pointer;

   &:focus {
    outline: none;
   }
}

.btn {
    display: inline-block;
    margin: 25px 0 5px;
    padding: 10px 19px;
    border: 1px solid $gold;
    background: transparent;
    color: $gold;
    transition: $transition_all;

    &:hover {
        background: $gold;
        color: $white;
        border-color: $gold;

        span {

            &::after {
                border-left: 1px solid $white;
                border-top: 1px solid $white;
            }
        }
    }

    span {
        position: relative;
        padding-right: 15px;
        color: inherit;

        &::after {
            position: absolute;
            content: '';
            top: 20%;
            right: 0;
            width: 7px;
            height: 7px;
            border-left: 1px solid $gold;
            border-top: 1px solid $gold;
            transform: rotate(135deg);
        }
    }
}

.lightmode {
    
    div,p,a,span {
        color: $dark;
    }

    h1,.h1 {
       color: $base;
    }
}

.footer {
    
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 100;
    opacity: 0;
    transition: $transition_all;

    &_show {
        visibility: visible;
        opacity: 1;
    } 
    
    &-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $gray;
        opacity: .81;
    }

    &-wrap {
        position: absolute;
        display: block;
        width: 320px;
        max-width: 100%;
        top: 50%;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 10;
        transform: translateY(-50%);
        text-align: center;
    }

    &-content {
       display: flex;
        
    }

    &__img {
        
    }

    &__title {
        
    }

    &__text {
        
    }

    &__btn {
        
    }

    &__close {
        
    }

    &-close {
        
    }
}