@import "../../styles/partial/variables.scss";

.section_middle {
    padding-top: 100px;
    padding-bottom: 100px;
    background-position: center;
    background-image: url(/assets/images/banners/ban_middle.png.jpg);

    @media(max-width: $tablet_width) {
        padding-top: 30px;
        padding-bottom: 30px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.banner-middle {
    display: flex;
    margin-right: 13%;
    justify-content: flex-end;

    @media(max-width: $tablet_width) {
       margin-right: 30px;
    }

    &__caption {
        flex-basis: 35%;
        text-align: center;

        @media(max-width: $tablet_width) {
           flex-basis: 50%;
        }
    }

    &__text {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: left;

        @media(max-width: $mobile_width) {
           display: none;
        }

        &::before {
            position: relative;
            display: block;
            height: 50px;
            width: 1px;
            content: '';
            background: linear-gradient(rgba(203,161,129,0.1), #cba181, rgba(203,161,129,0.1));
            margin-left: 50%;

            @media(max-width: $tablet_width) {
               display: none;
            }
        }

        &::after {
            position: relative;
            display: block;
            height: 50px;
            width: 1px;
            content: '';
            background: linear-gradient(rgba(203,161,129,0.1), #cba181, rgba(203,161,129,0.1));
            margin-left: 50%;

            @media(max-width: $tablet_width) {
               display: none;
            }
        }
    }
}