@import "../../styles/partial/variables.scss";

.header {
    position: fixed;
    left: 0;
    right: 0;
    padding-top: 20px;
    z-index: 1;

    &_fixed {
        background: $dark;
        z-index: 2;

        &.lightmode {
           background: $white;
        }
    }

    &.lightmode {
        
        .header__logo {
            filter: invert(1);
        }
    }

    &-top {
        position: relative;
        text-align: center;
    }

    &__cart {
       position: absolute;
       top: 70px; 
       right: 30px;

        &:hover {
           color: $gold;
        }
    }
}

.shopping-cart {
    position: relative;
    padding-right: 40px;

    &::after {
        position: absolute;
        right: 10px;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url(/assets/images/cart-gold.svg);
    }
}

.products-in-cart {
    display: inline-block;
    padding: 1px 5px;
    font-size: 12px;
    color: black;
    background: $gold;
    border-radius: 5px 5px 5px 0;
    vertical-align: 5px;
}