@import "../../styles/partial/variables.scss";

.header {
    position: fixed;
    left: 0;
    right: 0;
    padding-top: 20px;
    z-index: 1;

    &_fixed {
        background: $dark;
        z-index: 2;

        &.lightmode {
           background: $white;
        }
    }

    &.lightmode {
        
        .header__logo {
            filter: invert(1);
        }
    }

    &-top {
        position: relative;
        text-align: center;
    }

    &__cart {
       position: absolute;
       top: 70px;
       right: 30px; 
       padding-right: 50px;

        &:hover {
           color: $gold;
        }

        span {
            position: relative;

            &::after {
                position: absolute;
                right: -30px;
                content: "";
                width: 20px;
                height: 20px;
                background-image: url(/assets/images/cart-gold.svg);
            }

        }
    }
}