@import "../../../../../styles/partial/variables.scss";

.sub-menu {
    position: absolute;
    display: flex;
    top: 20px;
    left: -50px;
    width: 500px;
    max-height: 200px;
    padding: 50px;
    flex-direction: column;
    flex-wrap: wrap; 
    background: $dark;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: $transition_all;

    &_active {
        visibility: visible;
        opacity: 1;
        z-index: 2;

        .sub-menu__item {
            display: block;
        }
    }

    &__item {
        display: none;
        margin: 5px 40px;
    }
}