@import "../../../../../styles/partial/variables.scss";

.sub-menu {
    position: absolute;
    display: flex;
    top: 24px;
    left: -50px;
    width: 500px;
    max-height: 200px;
    padding: 50px;
    flex-direction: column;
    flex-wrap: wrap; 
    background: $dark;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: $transition_all;

    @media(max-width: $tablet_width) {
        position: relative;
        top: 10px;
        left: 0;
        padding: 0;
        width: 100%;
        background: transparent;
        visibility: hidden;
    }

    &_active {
        visibility: visible;
        opacity: 1;
        z-index: 2;

        @media(max-width: $tablet_width) {
            padding: 20px 0;
        }

        .sub-menu__item {
            display: block;
        }
    }

    &__item {
        display: none;
        margin: 5px 40px;

        @media(max-width: $tablet_width) {
            margin: 5px 0px;
            padding-left: 20px;
            text-align: left;
        }
    }

    &__link {
        font-size: 16px;
    }
}

.lightmode {
    
    .sub-menu {
        background: $white;
        box-shadow: 0 0 5px inset $pink;
    }
}