@import "../../styles/partial/variables.scss";

.banners {
    display: flex;
    margin-bottom: 50px;

    &__item {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    &__caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 35px;
        text-align: center;
        z-index: 1;
    }

    &__text {
        margin-bottom: 10px;
    }

    &__btn {
        display: inline;
        margin-top: 10px;
        padding: 6px 14px;
        border-radius: 50%;
        border: 2px solid $gold;

        span {
            padding-right: 0;

            &::after {
                top: calc(50% - 5px);
                left: calc(50% - 5px);
                right: auto;
            }
        }
    }
}