@import "../../styles/partial/variables.scss";

.section_banner {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(/assets/images/banners/banner.png);
    background-position: 50% 0%;

    &.lightmode {
        filter: invert(1);

        .banner__text {
            color: $base;
        }

        .banner__btn {

            span {
                color: $white;
            }

            &:hover {

                span {
                    color: $dark;

                    &::after{
                        border-left: 1px solid $black;
                        border-top: 1px solid $black;
                    }
                }
            }   
        }
    }
}

.banner {
    display: flex;
    padding: 7.5% 6.5% 7%;
    flex-direction: column;
    align-items: center;
    align-content: center;

    &__text {
        max-width: 50%;
        text-align: center;
    }

    &__btn {
        position: relative;
        margin-top: 35px;

        &::before {
            position: absolute;
            top: 50%;
            left: -100%;
            display: block;
            width: 100px;
            height: 1px;
            content: '';
            background: linear-gradient(90deg, rgba(203,161,129,0.1), #cba181, rgba(203,161,129,0.1));
        }

        &::after {
            position: absolute;
            top: 50%;
            left: auto;
            right: -100%;
            display: block;
            width: 100px;
            height: 1px;
            content: '';
            background: linear-gradient(90deg, rgba(203,161,129,0.1), #cba181, rgba(203,161,129,0.1));
        }
    }
}